*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.container{
    text-align: center;
}

.progress-container{
    margin: 20px auto;
    min-height: 300px;
    display: flex;
    width: 40px;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.progress{
    position: absolute;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color: purple;
    transform: translateX(-50%) scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s ease-in;
}

.progress-container::after{
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #e0e0e0;
    z-index: -1;
}

.circle{
    color: #999999;
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s ease-in;
}

.circle.active{
    color: purple;
    border: 2px solid purple;
}

.btn{
    padding: 6px 17px;
    cursor: pointer;
    background: purple;
    color: aliceblue;
    border: 2px solid purple;
    transition: 0.4s ease;
}

.btn.disable{
    background: rgb(4, 0, 4);
    border: 2px solid rgb(0, 0, 0);
    cursor: not-allowed;
}