*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bg{
    background: url('./../../../asset/img/anime-img/see-the-failling-star.jpg') no-repeat center center /cover;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(70px);
}

.loading-status{
    color: aliceblue;
    font-size: 26px;
    opacity: 1;
}