:root{
    --var-primary-color : rgb(47, 0, 100);
    --secoundary-color : rgb(78, 2, 177);
    --text-color : aliceblue;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

*:focus{
    outline: none;
}

*focus::-moz-focus-inner,
*focus::-moz-focus-outer{
    outline: none;
}

body{
    background-color: var(--var-primary-color);
}

header{
    background-color: var(--secoundary-color);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

form input{
    background: transparent;
    border: 2px solid var(--var-primary-color);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: var(--text-color);
    transition: 0.3s ease;
}

form input::placeholder{
    color: rgba(240, 248, 255, 0.377);
}

form input:focus{
    background-color: var(--var-primary-color);
}

main{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

main .card{
    width: 300px;
    margin: 1rem;
    background-color: var(--secoundary-color);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.card .info{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 1rem 1rem;
}

.card .info span{
    padding: 0.25rem 0.5rem;
    background-color: var(--var-primary-color);
    font-weight: bold;
    border-radius: 3px;
}

.card .info span.green{
    color: lightgreen;
}


.card .info span.orange{
    color: orange;
}

.card .info span.red{
    color: red;
}

.overview{
    background-color: var(--text-color);
    color: var(--var-primary-color);
    padding: 2rem;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    max-height: 100%;
    cursor: pointer;
    transform: translateY(101%);
    transition: 0.3s ease-in;
}

.card:hover .overview{
    transform: translateY(0%);
}

.overview h2{
    margin-bottom: 15px;
}

img{
    width: 100%;
}
